<div class= "midashi">
<img src="static/blog/images/background.jpg" alt="表示できません" id="image">
<h1>素材にこだわる<br><strong>「家具作り」</strong></h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% block nav %}
              <a href="{% url 'blog:home' %}"><img src="static/img/logo.png" id="logo"></a>
              <a class="navbar-brand" href="{% url 'blog:home' %}">浅川の<br>家具屋</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                  <li class="nav-item">
                    <a class="nav-link" href="#">会社概要</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">コンセプト</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">サービス</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">製作物<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">技術者</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">お客さまの声</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">よくある質問</a>
                  </li>
                </ul>
              </div>
        {% endblock %}
      </nav>