{% extends "base.html" %}

{% block title %}家具{% endblock %}
{% block description %}homeのページです。{% endblock %}

{% block nav %}
{% include "base/nav.html" %}
{% endblock %}

{% block content %}
<main>
  <div class="company">
    <h2>会社概要</h2><br>
      <p>家具卸事業について
        弊社オリジナルブランドや海外ブランド、メーカー仕入れ家具を北は北海道から南は沖縄まで、全国の家具・インテリアショップや量販店など約3500店舗に卸しています。
        エリアや業態ごとに営業チームが分かれており、担当店舗の商圏の特徴や売れ筋をリサーチし、その店舗に適した商品をご提案しています。
        また、実店舗のお客様だけでなく、インターネットやカタログといった通信販売のお取引先様へも卸販売を行っており、お取引先様のご要望に合わせて、家具だけにとらわれず食品やエコバッグなど幅広い商材を国内外から見つけ出してご提案しています。
        オフィス家具に特化したオフィス事業部も設けています。
      </p>
  </div>
  <div class="concept">
    <h2>コンセプト</h2>
    <p>商品開発について</p>
    <div class="concept_item">
      <p>商品開発を進めるにあたって、まずはマーケットをリサーチすることが欠かせません。開発担当者は家具販売店やインテリアショップ、時には海外の展示会にも足を運び自らの目でマーケットを感じるのはもちろんのこと、営業担当ともコミュニケーションを取り、家具業界の売れ筋やトレンドの情報を仕入れます。
          そういった情報を元に商品開発をスタートします
      </p>
      <img src="static/blog/images/kag.JPG" alt="表示できません" class="kag_image">
    </div>
    <div class="concept_item">
        <img src="static/blog/images/kag2.JPG" alt="表示できません" class="kag_image">
        <p>商品開発を進めるにあたって、まずはマーケットをリサーチすることが欠かせません。開発担当者は家具販売店やインテリアショップ、時には海外の展示会にも足を運び自らの目でマーケットを感じるのはもちろんのこと、営業担当ともコミュニケーションを取り、家具業界の売れ筋やトレンドの情報を仕入れます。
            そういった情報を元に商品開発をスタートします
        </p>
      </div>

  </div>
  <div class="achievement">
    <p>製作物</p>
      <img src="static/blog/images/kag.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag2.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag3.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag4.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag6.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag7.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag8.JPG" alt="表示できません" class="kag_image">
      <img src="static/blog/images/kag9.JPG" alt="表示できません" class="kag_image">
  </div>  
  <div class="engineer">
    <p>技術者</p>
      <div class="engineer_item">
        <img src="static/blog/images/人.jpg" alt="表示できません" class="engineer_image">
        <p>	
            仮 長野で生まれ、山の中で走り回って育ちました、ちのちゃんです。 のんびりした景色と時間が好きで、海を求めてお引っ越ししてきました。 楽しい時間も、綺麗な瞬間もあっという間。 なるべく全部忘れたくなくて、写真を撮り続けています。 フィルム写真大好き、暗室作業も大好きなアナログ派。 今しかない時間を、一枚一枚大切に！ 髪の短いお兄さんみたいなお姉さんと、たくさん一緒に遊びましょー♩
        </p>
      </div>
  </div>
  <div class="voice">
    <p>お客様の声</p>
    <div class="engineer_item">
      <img src="static/blog/images/family.png" alt="表示できません" class="family_image">
      <p><strong>家を建てようと思い始めたのは？</strong><br>
        結婚して二人目の子が生まれた頃です。
        今後のことを考えると、アパート暮らしではなく家を建てたほうが良いかなと夫婦で話をしました。
      </p>
    </div>
  </div>
  <div class="questions">
    <p>よくある質問</p>
  </div>
  <div class="access">
    <p>地図</p>
    <img src="static/blog/images/地図.png" alt="表示できません" class="access_image">
  </div>
</main>
<footer>
    <p>浅川の家具屋</p>
    <p>TEL 0263-64-4298<br>
    〒399-7411<br>
    長野県松本市中川8076-1</p>

    <ul class="snsbtniti">
<li><a href="TwitterのプロフィールURL" class="flowbtn5 fl_tw1"
><i class="fab fa-twitter"></i><div>Twitter</div></a></li>
<li><a href="インスタのプロフィールURL" class="flowbtn5 insta_btn5"><i class="fab fa-instagram"></i><div>Instagram</div></a></li>
<li><a href="FacebookページのURL" class="flowbtn5 fl_fb1"><i class="fab fa-facebook-f"></i><div>Facebook</div></a></li>
<li><a href="https://line.me/ti/p/%ライン＠のアカウント" class="flowbtn5 fl_li1"><i class="fab fa-line"></i><div>LINE＠</div></a></li>
</footer>
{% endblock %}