{% extends "base.html" %}

{% block title %}家具{% endblock %}
{% block description %}homeのページです。{% endblock %}

{% block nav %}
{% include "base/nav.html" %}
{% endblock %}

{% block content %}
<main>
  <div class="company">
    <p>会社概要</p>
  </div>
  <div class="concept">
    <p>コンセプト</p>
  </div>
  <div class="achievement">
    <p>製作物</p>
      <img src="static/blog/images/kag.JPG" alt="表示できません" id="kag_image">
  </div>  
  <div class="engineer">
    <p>技術者</p>
  </div>
  <div class="voice">
    <p>お客様の声</p>
  </div>
  <div class="questions">
    <p>よくある質問</p>
  </div>
  <div class="access">
    <p>地図</p>
  </div>
</main>
<footer>
    <p>浅川の家具屋</p>
    <p>TEL 0263-64-4298<br>
    〒399-7411<br>
    長野県松本市中川8076-1</p>

    <ul class="snsbtniti">
<li><a href="TwitterのプロフィールURL" class="flowbtn5 fl_tw1"
><i class="fab fa-twitter"></i><div>Twitter</div></a></li>
<li><a href="インスタのプロフィールURL" class="flowbtn5 insta_btn5"><i class="fab fa-instagram"></i><div>Instagram</div></a></li>
<li><a href="FacebookページのURL" class="flowbtn5 fl_fb1"><i class="fab fa-facebook-f"></i><div>Facebook</div></a></li>
<li><a href="https://line.me/ti/p/%ライン＠のアカウント" class="flowbtn5 fl_li1"><i class="fab fa-line"></i><div>LINE＠</div></a></li>
</footer>
{% endblock %}