{% extends "base.html" %}

{% block title %}家具{% endblock %}
{% block description %}homeのページです。{% endblock %}

{% block nav %}
{% include "base/nav.html" %}
{% endblock %}

<a class="navbar-brand" href="/">家具</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">リンク</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                色々
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">何か</a>
                <a class="dropdown-item" href="#">何か</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">何か</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">いらない</a>
            </li>
          </ul>
          {% include "blog/snippets/search_form.html" %}
          <div class="ml-3 btn btn-secondary"><a class="text-white" href="{% url 'blog:contact_form' %}">Contact</a></div>
        </div>

{% block content %}
<h1>ya hello</h1>
{% endblock %}